@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground: #0f0f0f;
}

@media (prefers-color-scheme: system) {
  :root {
   
    --foreground: #070606;
  }
}

body {
  color: var(--foreground);
 }
